;
; Configuration for chan_modemmanager
;

; [modem1]
; type = modem
; identifier = <org.freedesktop.ModemManager1.Modem.DeviceIdentifier>
; input_device = default      ; ALSA PCM device strings (e.g. "plughw:CARD=Device,DEV=0").
; output_device = default     ; Use a name shown by the "modemmanager list available" CLI
;                             ; command. If unset or "default", the ALSA default device is
;                             ; used. NOTE: since the switch from PortAudio to ALSA these
;                             ; values are ALSA device names; old PortAudio device names
;                             ; must be updated. Prefer plug-capable devices (plughw:/
;                             ; default) so sample-rate conversion is available.

; ----------------------------- JITTER BUFFER CONFIGURATION --------------------------
; jbenable = yes              ; Enables the use of a jitterbuffer on the receiving side of an
                              ; Console channel. Defaults to "no". An enabled jitterbuffer will
                              ; be used only if the sending side can create and the receiving
                              ; side can not accept jitter. The Console channel can't accept jitter,
                              ; thus an enabled jitterbuffer on the receive Console side will always
                              ; be used if the sending side can create jitter.

; jbmaxsize = 200             ; Max length of the jitterbuffer in milliseconds.

; jbresyncthreshold = 1000    ; Jump in the frame timestamps over which the jitterbuffer is
                              ; resynchronized. Useful to improve the quality of the voice, with
                              ; big jumps in/broken timestamps, usually sent from exotic devices
                              ; and programs. Defaults to 1000.

; jbimpl = fixed              ; Jitterbuffer implementation, used on the receiving side of a Console
                              ; channel. Two implementations are currently available - "fixed"
                              ; (with size always equals to jbmax-size) and "adaptive" (with
                              ; variable size, actually the new jb of IAX2). Defaults to fixed.

; jbtargetextra = 40          ; This option only affects the jb when 'jbimpl = adaptive' is set.
                              ; The option represents the number of milliseconds by which the new
                              ; jitter buffer will pad its size. the default is 40, so without
                              ; modification, the new jitter buffer will set its size to the jitter
                              ; value plus 40 milliseconds. increasing this value may help if your
                              ; network normally has low jitter, but occasionally has spikes.

; jblog = no                  ; Enables jitterbuffer frame logging. Defaults to "no".
; ----------------------------------------------------------------------------------

; [sim1]
; type = sim
; identifier = <org.freedesktop.ModemManager1.Sim.SimIdentifier>
; autoanswer = no
; context = default
; message_context = default
; extension = s
; language = en
; overridecontext = no
; mohinterpret = default
